<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CustomFiles/Test2.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top bg-black text-white">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Test 1", "Index", "Home", new { area = "" }, new { @class = "navbar-brand text-white" })
                @Html.ActionLink("Test 2", "Test2", "Home", new { area = "" }, new { @class = "navbar-brand text-white" })

            </div>
            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
